.events {
  display: flex;
  margin: auto;
  background-color: #2c3247;
  color: #e6e6e6;
  padding: 75px 20px;
  min-height: calc(100vh - 210px);
}

.events-header {
  text-align: center;
  font-size: 36px;
  color: #fff;
  margin-bottom: 40px;
}
.posts {
  display: flex;
  flex-direction: column;
}

.post {
  width: 100%;
  display: flex;
  padding: 15px 15px 15px 25px;
  border: 2px solid #fff299;
  border-radius: 16px;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  cursor: pointer;
}
.loading {
  display: flex;
  justify-content: center;
}
.post__title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}
.post__body {
  font-size: 20px;
  margin-bottom: 20px;
}
.post__btns {
  display: flex;
  border-radius: 16px;
  padding-top: 30px;
}
.post__img {
  min-width: 300px;
  height: auto;
  margin: 0px 20px;
  border: 1px solid #fff299;
  border-radius: 16px;
}
.pag {
  display: flex;

  justify-content: space-around;
}
