.header {
  background-color: #19233c;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem; /* Adds padding to the sides */
  flex-wrap: wrap; /* Allows the header items to wrap to the next line */
}

.header-logo img {
  height: 50px; /* Make the logo smaller */
  margin: 10px 2rem; /* Adds space above and below the logo */
  flex-shrink: 0;
  margin-right: 60px; /* Prevents the logo from shrinking */
}

.header-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px;
  gap: 3rem; /* Adjust spacing between nav items */
  flex-wrap: wrap; /* Allows the nav items to wrap when screen size is reduced */
}

.header-nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.8rem; /* Increased font size for nav links */
  font-weight: 500;
  transition: color 0.3s ease;
}

.header-nav-link:hover,
.header-nav li.active .header-nav-link {
  color: #ffffff;
  border-bottom: 2px solid #fff299; /* Underline on hover and active state */
}

.header-buttons-container {
  display: none; /* Buttons are no longer needed */
}

/* Media query to handle smaller screens */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Stack the header content vertically */
    height: auto; /* Adjust height for wrapping content */
  }

  .header-nav-list {
    justify-content: center; /* Center the nav items when they wrap */
    gap: 1rem; /* Reduce the spacing between nav items on small screens */
  }

  .header-logo img {
    margin: 10px 0; /* Adjust margin for logo on smaller screens */
  }
}
