.body {
  background-color: #2c3247;
  width: 100%;
  min-height: calc(100vh - 210px);
}
.container {
  max-width: 1575px;
  padding: 0 75px;
  margin: 0 auto;
}

.block-header {
  color: #e6e6e6;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 70px;
  font-size: 32px;
}

.block-row {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.block-table {
  width: 80%;
  height: 275px;
  border-radius: 16px;
  background: transparent;
  border: 1px solid #fff299;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 50px;
  color: #fff;
  font-size: 24px;
  margin: 0 auto;
}
.block-table-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about-us-text {
  color: #fff;
  font-size: 24px;
  text-align: block;
}

.news {
  margin: auto;
}

.newsImg {
  max-width: 80%;
  height: auto;
  border: 1px solid #fff299;
  border-radius: 16px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.adjust_about {
  margin-bottom: 40px;
}
