.awards {
  background-color: #2c3247;
  min-height: calc(100vh - 210px);
  padding: 40px;
}
.awardsContainer {
  max-width: 900px;
  margin: 0 auto;

  color: #ffffff;
  padding: 40px;
  text-align: center;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.description {
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto 40px;
  line-height: 1.5;
}

.awardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}
