.companyContainer {
  background-color: #2c3247;
  color: #ffffff;
  padding: 40px;
  text-align: center;
  line-height: 1.1;
  min-height: calc(100vh - 210px);
}

.title {
  margin-top: 40px;
  font-size: 32px;

  margin-bottom: 20px;
  letter-spacing: 1px;
}

.textBlock {
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.textBlock h3 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.textBlock ul {
  list-style-type: circle;

  padding: 0;
  margin-top: 10px;
}

.textBlock li {
  margin-bottom: 10px;
}
