.work-details {
  min-height: calc(100vh - 210px);
  background-color: #2c3247;
  color: #e6e6e6;
  padding: 0px 20px;
}
.container {
  max-width: 1575px;
  margin: 0 auto;
}
.service-header {
  text-align: center;
  font-size: 36px;
  color: #fff;
  padding-top: 75px;
  margin-bottom: 40px;
}

.service-info p {
  font-size: 20px;
  margin-bottom: 10px;
}
