.portfolio {
  display: flex;
  flex-direction: column;
  background-color: #2c3247;
  padding: 75px 20px 0px 20px;
  min-height: calc(100vh - 210px);
}

.container {
  max-width: 1575px;
  margin: 0 auto;
}

.portfolio-header {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.portfolio-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}

.portfolio-block {
  background-color: #3a3f57;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #6d7395;
  flex: 1 1 calc(50% - 20px);
  max-width: 100%;
  text-align: center;
}

.portfolio-block img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.portfolio-block p {
  color: #e6e6e6;
  font-size: 18px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .portfolio-blocks {
    flex-direction: column;
    align-items: center;
  }

  .portfolio-block {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }
}
