.services {
  display: flex;
  flex-direction: column;
  background-color: #2c3247;
  padding: 75px 20px 0px 20px;
  min-height: calc(100vh - 210px);
}
.container {
  max-width: 1575px;
  margin: 0 auto;
}

.services-header {
  font-size: 36px;
  color: #fff;
}

.services-block {
  max-width: 1200px;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
}

.services-block-text {
  font-size: 24px;
  color: #fff;
}

.services-block-link {
  text-decoration: none;
}
