.events {
  display: flex;
  align-items: center;
  background-color: #2c3247;
  color: #e6e6e6;
  padding: 75px 20px;
  min-height: 735px;
}

.events-header {
  text-align: center;
  font-size: 36px;
  color: #fff;
  margin-bottom: 40px;
  /* Center the text within the header */
}
.posts {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post {
  width: 100%;
  display: flex;
  padding: 15px;
  border: 2px solid #fff299;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure posts take full width */
  max-width: 600px; /* Limit the width to keep posts from stretching too much */
}
